@page
@model M05_UF3_P2_Template.Pages.Products.ProductModel

@{

 if (Model.Id > 0)
    {
        ViewData["Title"] = "Product - " + Model.product.Summary;
    }
    else
    {
        ViewData["Title"] = "Product - Create";
    }
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">
                @if (Model.Id > 0)
                {
                    <img class="img img-thumbnail img-fluid" src="@Model.product.Icon" style="width: 200px; height: 100px; object-fit: scale-down; background-color:@Model.product.Banner;" />
                    <span>@Model.product.Summary - <small>Edit Product</small></span>
                }
                else
                {
                    <span>Create Product</span>
                }
                <button type="submit" class="btn btn-primary float-right"><span class="material-icons">save</span></button>
            </h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="Product_Id_Input col-sm-2 col-form-label"><span class="material-icons mx-1" style="font-size: 1rem;">tag</span>Id</label>
                    @{
                        string CustomId = Model.Id > 0 ? Model.Id.ToString() : null;
                    }
                    <input type="text" asp-for="product.Id" value="@CustomId" readonly class="form-control" id="Company_Id_Input" placeholder="-">
                </div>
                <div class="form-group col-md-5">
                    <label for="Product_Summary_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Summary</label>
                    <input type="text" asp-for="product.Summary" maxlength="50" class="form-control" id="Product_Summary_Input" placeholder="Summary">
                </div>
                <div class="form-group col-md-5">
                    <label for="Product_Icon_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Icon</label>
                    <input type="url" asp-for="product.Icon" maxlength="1000" class="form-control" id="Product_Icon_Input" placeholder="Inserte url">
                </div>
            </div>
            <div class="form-group">
                <label for="Product_Banner_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Banner</label>
                <input type="url" asp-for="product.Banner" maxlength="2048" class="form-control" id="Product_Banner_Input" placeholder="Inserte url">
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    <label for="Product_Trailer_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Trailer</label>
                    <input type="url" asp-for="product.Trailer" maxlength="2048" class="form-control" id="Product_Trailer_Input" placeholder="Trailer">
                </div>
                <div class="form-group col-md">
                    <label for="Product_Price_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Price</label>
                    <input type="text" asp-for="product.Price" class="form-control" id="Product_Price_Input" placeholder="xx.xx">
                </div>
                <div class="form-group col-md">
                    <label for="Product_Publishing_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Publishing</label>
                    <input type="date" asp-for="product.Publishing"  class="form-control" id="Company_Icon_Input" placeholder="inserte fecha">
                </div>
                <div class="form-group col-md-1">
                    <label for="Product_Size_Input col-sm-2 col-form-label"><span  style="font-size: 1rem;"></span>Size</label>
                    <input type="text" asp-for="product.Size" class="form-control" id="Product_Size_Input" placeholder="Size">
                </div>
            </div>
        </div>
    </div>
</form>